.toast-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9999;

    height: 100vh;

    overflow: hidden;
}

.toast-container {
    display: flex;

    width: 300px;
    min-height: 80px;
    border: 0;
    border-radius: 4px;

    box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
    margin: 8px;

    position: relative;
    top: 0;
    right: -500px;

    z-index: 9999;
    opacity: 0;
    cursor: pointer;

    transition: right, opacity, 0.35s;
}

.toast-container.show {
    right: 0px !important;
    opacity: 1 !important;
}

.toast-container.success {
    background: #00C853;
}

.toast-container.success:hover {
    background: #00E676;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.toast-container.error {
    background: #DD2C00;
}

.toast-container.error:hover {
    background: #FF3D00;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.toast-container.warning {
    background: #FF6D00;
}

.toast-container.warning:hover {
    background: #FFAB40;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.toast-container.info {
    background: #0091EA;
}

.toast-container.info:hover {
    background: #00B0FF;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.toast-container .icon {
    min-width: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #fff;
    font-size: 23px;
}

.toast-container .toast-content {
    padding: 8px 8px 8px 4px;
}

.toast-container .toast-content .toast-title {
    color: #fff;
    padding: 0 0 4px 4px;
    font-weight: 500;
}

.toast-container .toast-content .toast-body {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
}