<div class="toast-wrapper">
    <div class="toast-container success">
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                Atenção!!
            </div>
            <div class="toast-body">
                Some text inside the toast body Some text inside the toast body 
            </div>
        </div>
    </div>
    
    <div class="toast-container success">
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                Atenção!!
            </div>
            <div class="toast-body">
                Some text inside the toast body Some text inside the toast body 
            </div>
        </div>
    </div>
    
    <div class="toast-container success">
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                Atenção!!
            </div>
            <div class="toast-body">
                Some text inside the toast body Some text inside the toast body 
            </div>
        </div>
    </div>
    
    <div class="toast-container success">
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                Atenção!!
            </div>
            <div class="toast-body">
                Some text inside the toast body Some text inside the toast body 
            </div>
        </div>
    </div>
    
    <div class="toast-container success">
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                Atenção!!
            </div>
            <div class="toast-body">
                Some text inside the toast body Some text inside the toast body 
            </div>
        </div>
    </div>
    
    <div class="toast-container success">
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                Atenção!!
            </div>
            <div class="toast-body">
                Some text inside the toast body Some text inside the toast body 
            </div>
        </div>
    </div>
</div>
