<div class="toast-wrapper">
    <div class="toast-container" 
        [class.success]="toast.type === 'success'" 
        [class.error]="toast.type === 'error'" 
        [class.warning]="toast.type === 'warning'" 
        [class.info]="toast.type === 'info'" 
        *ngFor="let toast of listToast"
    >
        <div class="icon"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></div>
        <div class="toast-content">
            <div class="toast-title">
                {{ toast.title }}
            </div>
            <div class="toast-body">
                {{ toast.message }} 
            </div>
        </div>
    </div>
</div>
